* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}
/* common css styles */
/* color */
.text-primary {
  color: #e55473;
}
.dark01 {
  color: #272727;
}
.dark03 {
  color: rgba(39, 39, 39, 0.6);
}
/* background */
.bg-primary {
  background-color: rgba(229, 84, 115, 0.1);
}
.bg-secondary {
  background-color: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
}
/* flex */
.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* window fit */
.window-fit-01 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.window-fit-02 {
  width: 80%;
  text-align: center;
  margin: 128px auto;
}
.section-title {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
}
.section-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 48px 0;
}
.btn-primary {
  color: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 18px 44px;
  border-radius: 8px;
  background: #e55473;
}
/* header styles starts from here */
header {
  height: 90vh;
}
.header-container {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
  gap: 96px;
}
.header-title {
  font-size: 74px;
  font-weight: 900;
}
.header-container img {
  height: 598px;
}
.header-description {
  margin: 32px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 40px 0 0;
}
/* feature section styles*/
.featured-img {
  display: flex;
  gap: 24px;
}
.featured-img > div > img {
  border-top-right-radius: 48%;
  border-top-left-radius: 48%;
  width: 100%;
}
.featured-img1 {
  background-color: rgba(167, 33, 98, 0.15);
  padding: 132px 76px 0px 76px;
}
.featured-img2 {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 118px 47px 47px 51px;
}
.featured-img3 {
  background-color: rgba(71, 125, 17, 0.15);
  width: 314px;
  height: 471px;
  padding: 46px 75px 0px 75px;
}
.featured-img > div > p {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}
/* service section styles starts here */
.service-section {
  padding: 86px 176px;
  display: flex;
  gap: 100px;
}
.service-section > div > p {
  color: rgba(39, 39, 39, 0.8);
  margin-top: 24px;
  font-weight: 700;
  font-size: 17px;
}
/* hot-deal-section styles here */
.hot-deal-container {
  gap: 186px;
  padding: 100px 120px;
}
/* instagram section styles here */
.insta-img {
  gap: 24px;
}
.insta-img > img {
  width: 24%;
}
/* clients styles starts here */
.client-container {
  padding: 86px 50px;
}
.client-img {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
/* latest details section styles starts here */
.latest-details {
  text-align: center;
  background-image: url("./../flower-asset/Rectangle 9.png");
  background-size: contain;
  background-position: center;
  padding: 122px 0px;
  background-repeat: no-repeat;
}
input[type="email"] {
  padding: 22px 0px 22px 22px;
  border-radius: 8px;
  border: none;
  width: 44%;
}
.detail-input {
  gap: 16px;
}
/* footer styles starts here */
footer {
  margin-top: 128px;
  text-align: center;
  background-color: #111010;
  padding: 128px 0px;
}
footer h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}
footer p {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 30px;
}
footer small {
  color: rgba(255, 255, 255, 0.4);
}
/* footer styles ends */
