* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}
/* common css styles */
.text-primary {
  color: #e55473;
}
/* header styles starts from here */
header {
  height: 90vh;
  background-color: rgba(229, 84, 115, 0.05);
}
.header-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  width: 80%;
  margin: 0 auto;
}
.header-title {
  color: #272727;
  font-size: 74px;
  font-weight: 900;
}
.header-container img {
  background-repeat: no-repeat;
  height: 598px;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  margin: 32px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 40px 0 0;
}
.btn-primary {
  color: #fff;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 20px 44px;
  border-radius: 8px;
  background: #e55473;
}

/* Our feature section */
.featured-flower {
  margin: 130px auto;
  width: 80%;
}
.section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 34px;
  font-weight: 800;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 0 48px 0;
}
.featured-img {
  display: flex;
  gap: 24px;
}
.featured-img > div > img {
  border-top-right-radius: 48%;
  border-top-left-radius: 48%;
  width: 100%;
}
.featured-img1 {
  background-color: rgba(167, 33, 98, 0.15);

  padding: 132px 76px 0px 76px;
}
.featured-img2 {
  background-color: rgba(5, 151, 160, 0.15);
  /* width: 370px;
  height: 370px; */
  padding: 118px 47px 47px 51px;
}
.featured-img3 {
  background-color: rgba(71, 125, 17, 0.15);
  width: 314px;
  height: 471px;
  padding: 46px 75px 0px 75px;
}
.featured-img > div > p {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}
/* service section styles starts here */
.service-section {
  width: 80%;
  margin: 128px auto;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 86px 176px;
  display: flex;
  gap: 100px;
  text-align: center;
}
.service-section > div > p {
  color: rgba(39, 39, 39, 0.8);
  margin-top: 24px;
  font-weight: 700;
}
/* hot-deal-section styles here */
.hot-deal-section {
 
  background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-container {
    width: 80%;
    margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 186px;
  
  
  padding: 100px 120px;
}
